{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PaintballProvider list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Street</th>
                <th>Zip</th>
                <th>City</th>
                <th>Price</th>
                <th>Telephone</th>
                <th>Website</th>
                <th>Image</th>
                <th>Indoorfieldcount</th>
                <th>Outdoorfieldcount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('paintballprovider_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.street }}</td>
                <td>{{ entity.zip }}</td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.telephone }}</td>
                <td>{{ entity.website }}</td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.indoorFieldCount }}</td>
                <td>{{ entity.outdoorFieldCount }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('paintballprovider_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('paintballprovider_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('paintballprovider_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
