<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% block metadescription %}Freizeitbooking: Ihr Portal für das Buchen von modernen Freizeitaktivitäten in Ihrer Nähe{% endblock %}">
    <meta name="author" content="">

    <!-- Note there is no responsive meta tag here -->

    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>{% block title %}Freizeitaktivitäten online buchen | freizeitbooking.de{% endblock %}</title>

    {% block javascript %}
    {% endblock %}

{#     <script>#}
{#       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
{#       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
{#       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
{#       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}

{#       ga('create', 'UA-46258279-1', 'freizeitbooking.de');#}
{#       ga('set', 'anonymizeIp', true);#}
{#       ga('send', 'pageview');#}
{#     </script>#}

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/freizeitbookingplattform/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/freizeitbookingplattform/css/custom.css') }}" />
    {% endblock %}

  </head>

    <body>
        {% block webmastertools %}{% endblock %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% set allRegions = globalGetRegions() %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="{{ path('binaerpiloten_freizeitbooking_plattform_homepage') }}">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                        <li class="{{ 'admin_index' in app.request.get('_route') ? ' active' }}">
                            <a href="{{ path('admin_index') }}">Dashboard</a>
                        </li>
                        <!-- Freizeit-Navigation -->
                        <li class="dropdown{{ 'gokartprovider' in app.request.get('_route') ? ' active' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gokart <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('gokartprovider',{ }) }}"><span class="glyphicon glyphicon-list"></span> Liste anzeigen</a></li>
                                <li class="divider"></li>
                                {% for region in allRegions %}
                                    <li><a href="{{ path('gokartprovider',{ 'region': region.getURLName }) }}">{{ region.getName }}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{{ path('gokartprovider_new',{ }) }}"><span class="glyphicon glyphicon-plus"></span> Neu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown{{ 'lasertagprovider' in app.request.get('_route') ? ' active' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Laser-Tag <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('lasertagprovider',{ }) }}"><span class="glyphicon glyphicon-list"></span> Liste anzeigen</a></li>
                                <li class="divider"></li>
                                {% for region in allRegions %}
                                    <li><a href="{{ path('lasertagprovider',{ 'region': region.getURLName }) }}">{{ region.getName }}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{{ path('lasertagprovider_new',{ }) }}"><span class="glyphicon glyphicon-plus"></span> Neu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown{{ 'paintballprovider' in app.request.get('_route') ? ' active' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paintball <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('paintballprovider',{ }) }}"><span class="glyphicon glyphicon-list"></span> Liste anzeigen</a></li>
                                <li class="divider"></li>
                                {% for region in allRegions %}
                                    <li><a href="{{ path('paintballprovider',{ 'region': region.getURLName }) }}">{{ region.getName }}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{{ path('paintballprovider_new',{ }) }}"><span class="glyphicon glyphicon-plus"></span> Neu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown{{ 'squashprovider' in app.request.get('_route') ? ' active' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Squash <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('squashprovider',{ }) }}"><span class="glyphicon glyphicon-list"></span> Liste anzeigen</a></li>
                                <li class="divider"></li>
                                {% for region in allRegions %}
                                    <li><a href="{{ path('squashprovider',{ 'region': region.getURLName }) }}">{{ region.getName }}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{{ path('squashprovider_new',{ }) }}"><span class="glyphicon glyphicon-plus"></span> Neu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown{{ 'seotext' in app.request.get('_route') ? ' active' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SEOText <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('seotext',{ }) }}"><span class="glyphicon glyphicon-list"></span> Liste anzeigen</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('seotext_new',{ }) }}"><span class="glyphicon glyphicon-plus"></span> Neu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown{{ 'region' in app.request.get('_route') ? ' active' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Region <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('region',{ }) }}"><span class="glyphicon glyphicon-list"></span> Liste anzeigen</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('region_new',{ }) }}"><span class="glyphicon glyphicon-plus"></span> Neu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown{{ 'category' in app.request.get('_route') ? ' active' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('category',{ }) }}"><span class="glyphicon glyphicon-list"></span> Liste anzeigen</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('category_new',{ }) }}"><span class="glyphicon glyphicon-plus"></span> Neu</a></li>
                            </ul>
                        </li>
                        <li class="dropdown{{ 'blogpost' in app.request.get('_route') ? ' active' }}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blogpost <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('blogpost',{ }) }}"><span class="glyphicon glyphicon-list"></span> Liste anzeigen</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('blogpost_new',{ }) }}"><span class="glyphicon glyphicon-plus"></span> Neu</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                            <li>
                                {% block adminbutton %}{% endblock %}
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('admin_index', { }) }}">Dashboard</a></li>
                                    <li><a href="#">Mein Profil</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout',{ }) }}">Logout</a></li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="container">
            <!-- Logo -->
            {% block logo %}
            <div class="logo-container">
              <div class="row">
                  <div class="logo"><a href="{{ path('binaerpiloten_freizeitbooking_plattform_homepage') }}"><img src="{{ asset('bundles/freizeitbookingplattform/img/freizeitbooking-logo.png') }}" alt="Freizeitbooking Logo" /></a></div>
              </div>
            </div>
            {% endblock %}

            {% block navigation %}
                <!-- Fixed navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-header pull-left">
                            <a class="navbar-brand" href="{{ path('binaerpiloten_freizeitbooking_plattform_homepage') }}">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <!-- Freizeit-Navigation -->
                                <li class="dropdown{{ 'gokart' in app.request.get('_route') ? ' active' }}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gokart <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                    {% for menuregion in regions['gokart'] %}
                                        <li><a href="{{ path('gokartlist',{'regionURLName': menuregion.getURLName}) }}">{{ menuregion.getName }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </li>
                                <li class="dropdown{{ 'lasertag' in app.request.get('_route') ? ' active' }}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Laser-Tag <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% for menuregion in regions['lasertag'] %}
                                        <li><a href="{{ path('lasertaglist',{'regionURLName': menuregion.getURLName}) }}">{{ menuregion.getName }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="dropdown{{ 'paintball' in app.request.get('_route') ? ' active' }}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paintball <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% for menuregion in regions['paintball'] %}
                                        <li><a href="{{ path('paintballlist',{'regionURLName': menuregion.getURLName}) }}">{{ menuregion.getName }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="dropdown{{ 'squash' in app.request.get('_route') ? ' active' }}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Squash <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% for menuregion in regions['squash'] %}
                                        <li><a href="{{ path('squashlist',{'regionURLName': menuregion.getURLName}) }}">{{ menuregion.getName }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                {% if not is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a href="{{ path('fos_user_security_login',{ })}}">Login</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
              </div>
            {% endblock %}

            {% block banner %}
            <img src="{% block bannersrc %}{% endblock %}" class="img-responsive img-rounded" alt="{{ bannertext|default('') }}" title="{{ bannertext|default('') }}">
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

        {% block footer %}
        <div id="footer">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="footer-head"></div>
                </div>
                <div class="col-xs-6">
                  <div class="footer-copyright">
                  created 2013 by Binärpiloten
                  </div>
                </div>
                 <div class="col-xs-3">
                  <div class="footer-kategorien">
                  KATEGORIEN
                  <div class="list-group">
                    <a href="{{ path('binaerpiloten_freizeitbooking_plattform_homepage',{ })}}" class="list-group-item">Freizeit</a>
{#                     <a href="#" class="list-group-item">News</a>#}
                  </div>
                  </div>
                </div>
                 <div class="col-xs-3">
                  <div class="footer-allgemein">
                  ALLGEMEIN
                    <div class="list-group">
                    <a href="{{ path('impressum',{ })}}" class="list-group-item">Impressum</a>
                    <a href="{{ path('kontakt',{ })}}" class="list-group-item">Kontakt</a>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        {% endblock %}

        {% block endofbodyjavascript %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document s<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="{{ asset('bundles/freizeitbookingplattform/js/bootstrap.min.js') }}"></script>
        {% endblock %}
  </body>
</html>
