{% extends 'BinaerpilotenFreizeitbookingPlattformBundle:Website:website-base.html.twig' %}

{% block content %}
    <div class="detail-header">
        <h1>{{ provider.name }}</h1>
        <p class="lead">{{ provider.claim }}</p>
    </div>

    <!-- Eintrag Detailseite -->
    <div class="row">
        <div class="col-md-12">
            <p>Preis: {{ provider.price }} <br>Streckenlänge: {{ provider.length | number_format(0,'','.')}}&thinsp;m</p>
        </div>
        <div class="col-md-6">
            <p>{{ provider.street }}<br>{{ provider.zip }} {{ provider.city }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 action-detail">
            <a class="btn btn-large btn-success" href="tel:{{ provider.telephone }}">{{ provider.telephone }}</a>
        </div>
        <div class="col-md-12">
            <a class="btn btn-large btn-success" href="{{ provider.website }}">Zur Kontaktseite des Anbieters</a>
        </div>
    </div>
{% endblock %}

{% block adminbutton %}
    <a href="{{ path('gokartprovider_edit',{'id': provider.id }) }}">Eintrag bearbeiten</a>
{% endblock %}

{% block title %}{{ provider.title }}{% endblock %}
{% block metadescription %}{{ provider.metadescription }}{% endblock %}
