{% extends 'BinaerpilotenFreizeitbookingPlattformBundle:Website:website-base.html.twig' %}

{% block content %}

          <div class="page-header">
              <h1>Freizeitbooking &ndash; dein Portal für angesagte Freizeitaktivit&auml;ten</h1>
              <p class="lead">Wir vermitteln dir den direkten Kontakt zu den angesagtesten Freizeitanbietern in deiner Nähe!</p>
          </div>

          <p></p>

          <div class="row">
              <div class="col-xs-3">
                  <h3>Gokart</h3>
                  <p><img src="{{ asset('bundles/freizeitbookingplattform/img/gokart_square.jpg') }}" class="img-responsive img-rounded" alt="" title=""></p>
                  <div class="list-group">
                        {% for menuregion in regions['gokart'] %}
                            <a class="list-group-item" href="{{ path('gokartlist',{'regionURLName': menuregion.getURLName}) }}">{{ menuregion.getName }}</a>
                        {% endfor %}
                  </div>
              </div>
              <div class="col-xs-3">
                  <h3>Lasertag</h3>
                  <p><img src="{{ asset('bundles/freizeitbookingplattform/img/lasertag_square.jpg') }}" class="img-responsive img-rounded" alt="" title=""></p>
                  <div class="list-group">
                        {% for menuregion in regions['lasertag'] %}
                            <a class="list-group-item" href="{{ path('lasertaglist',{'regionURLName': menuregion.getURLName}) }}">{{ menuregion.getName }}</a>
                        {% endfor %}
                  </div>
              </div>
              <div class="col-xs-3">
                  <h3>Paintball</h3>
                  <p><img src="{{ asset('bundles/freizeitbookingplattform/img/paintball_square.jpg') }}" class="img-responsive img-rounded" alt="" title=""></p>
                  <div class="list-group">
                        {% for menuregion in regions['paintball'] %}
                            <a class="list-group-item" href="{{ path('paintballlist',{'regionURLName': menuregion.getURLName}) }}">{{ menuregion.getName }}</a>
                        {% endfor %}
                  </div>
              </div>
              <div class="col-xs-3">
                  <h3>Squash</h3>
                  <p><img src="{{ asset('bundles/freizeitbookingplattform/img/squash_square.jpg') }}" class="img-responsive img-rounded" alt="" title=""></p>
                  <div class="list-group">
                        {% for menuregion in regions['squash'] %}
                            <a class="list-group-item" href="{{ path('squashlist',{'regionURLName': menuregion.getURLName}) }}">{{ menuregion.getName }}</a>
                        {% endfor %}
                  </div>
              </div>
          </div>

          <h2>News</h2>
          <hr>
          {% for blogpost in blogposts|reverse %}
              <h3><a href="{{ path('fullblogpost',{'urlName': blogpost.urlName}) }}">{{ blogpost.heading }}</a></h3>
              <p>{% autoescape false %}{{ blogpost.teaser }}{% endautoescape %}</p>
              <a href="{{ path('fullblogpost',{'urlName': blogpost.urlName}) }}">{{ blogpost.linkcaption }}</a>
              <hr>
          {% endfor %}
          {# 
          <p>As a heads up, the navbar component is rather tricky here in that the styles for displaying it are rather specific and detailed. Overrides to ensure desktop styles display are not as performant or sleek as one would like. Just be aware there may be potential gotchas as you build on top of this example when using the navbar.</p>

          <h3>Regarding navbars</h3>
          <p>As a heads up, the navbar component is rather tricky here in that the styles for displaying it are rather specific and detailed. Overrides to ensure desktop styles display are not as performant or sleek as one would like. Just be aware there may be potential gotchas as you build on top of this example when using the navbar.</p>
          #}
{% endblock %}

{% block bannersrc %}{{ asset('bundles/freizeitbookingplattform/img/gokart.jpg') }}{% endblock %}
{% set bannertext = 'Angesagter Freizeitspaß' %}