{% extends 'BinaerpilotenFreizeitbookingPlattformBundle:Website:abstractlist.html.twig' %}

{% block heading %}Lasertag{% endblock %}

{% block menuregions %}
    {% for menuregion in regions['lasertag'] %}
        <li><a href="{{ path('lasertaglist',{'regionURLName': menuregion.getURLName}) }}">{{ menuregion.getName }}</a></li>
    {% endfor %}
{% endblock %}

{% block providerinfo %}
<div class="col-xs-12">
    <h2>{{ provider.name }}</h2>
</div>
<div class="col-md-4">
    <p>Preis: {{ provider.price }} €</p>
    <p>Max. Spielerzahl: {{ provider.maxPlayer }}</p>
</div>
<div class="col-md-4">
    <p>{{ provider.street }}<br>{{ provider.zip }} {{ provider.city }}</p>
</div>
<div class="col-md-4">
    <p><a href="{{ path('lasertagdetails',{'regionURLName': region.getURLName, 'id': provider.getId}) }}" class="btn btn-primary btn-large">Jetzt Reservierung anfragen</a></p>
</div>
{% endblock %}

{% block adminbutton %}
    <a href="{{ path('lasertagprovider',{ }) }}">Liste bearbeiten</a>
{% endblock %}
