{% extends 'BinaerpilotenFreizeitbookingPlattformBundle:Admin:backend-base.html.twig' %}

{% block body -%}
    <h1>Blogpost</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Heading</th>
                <td>{{ entity.heading }}</td>
            </tr>
            <tr>
                <th>Teaser</th>
                <td>{{ entity.teaser }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ entity.text }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Metadescription</th>
                <td>{{ entity.metadescription }}</td>
            </tr>
            <tr>
                <th>URL-Name</th>
                <td>{{ entity.urlName }}</td>
            </tr>
            <tr>
                <th>Link-Caption</th>
                <td>{{ entity.linkcaption }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blogpost') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blogpost_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
