{% extends 'BinaerpilotenFreizeitbookingPlattformBundle:Default:base.html.twig' %}

{% block content %}
<div class="container">
    <div class="detail-header">
        <h1>{{ provider.name }}</h1>
        <p class="lead">Die Squashanlage in der Nähe von Hollingen und Unterdupfingen. Mit Indoor und Outdoorbahn.</p>
    </div>

    <!-- Eintrag Detailseite -->
    <div class="row">
        <div class="col-md-12">
            <p>Preis: {{ provider.price }} €<br>Felder: {{ provider.fieldCount}}</p>
        </div>
        <div class="col-md-6">
            <p>{{ provider.street }}<br>{{ provider.zip }} {{ provider.city }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 action-detail">
            <a class="btn btn-large btn-success" href="tel:{{ provider.telephone }}">{{ provider.telephone }}</a>
        </div>
        <div class="col-md-12">
            <a class="btn btn-large btn-success">Zur Kontaktseite des Anbieters</a>
        </div>
    </div>
</div>
{% endblock %}